.stage-container{
    text-align: center;
    width: 60%;
}

.stage{
    display: block;
    margin: 0 auto;
    border: 3px solid black;
    margin: 10px;
    height: 70%;
}

p{
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 50%;
    border: 2px solid black;
}